/*	
	Side Navigation Menu
	===================
	License:
	http://goo.gl/eOTvzB
	===================
	Author: @PableraShow

 */

/* Typography
------------------------------------- */
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.8em;
  
}

/* Navigation */

a{
  text-transform: uppercase;
  text-decoration: none;
  color: #151515;
  
  transition-delay: 0s;
  transition-duration: 0.36s;
  transition-property: all;
  transition-timing-function: line;
}

nav_log a:hover{
  font-weight: 400;
}

nav_log, nav_log:hover{
    padding: 1em;
}

nav_log a{
  text-indent: -200px;
}

nav_log:hover a{
  text-indent:0px;
  color: #E5E5E5;
}

svg, a{
  vertical-align: top;
}

/* End Navigation */


/* Sections */

h1{
  font-family: 'Open Sans', sans-serif;
  font-size:3em; 
  font-weight: 300;
  color:#000;
  line-height:1.8em;
}

h2{
  font-weight: 300;
}

h2 a{
  font-weight: 700;
}

/* End Sections */


/* Structure
------------------------------------- */
body{
    background: #f1f1f1;
}

/* Navigation */

nav_log
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: auto;
  min-width: 60px;
  width: 70px;
  background-color: #ccc;
  
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

nav_log:hover{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 150px;
  background-color: #48484C;
}

nav_log a{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity:0;
  margin-left: 1em;
}

nav:hover a{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity:2;
}

li{
  display: block;
  padding:0em;
  height:70px;
}

svg, a{
  display: inline-block;
}

/* End Navigation */

/* Sections */

section{
  padding: 2em 0 0 14em;
}

/* End sections */
