/*emulator start*/
#emulator_background{
	border-radius:12px;
	border: 3px solid #647687;
	background-color: #000000;
	width: 300px;
	height: 450px;
	margin-right: 0px
	
}

#emulator_speker{
	border-radius:5px;
	border: 1px solid #647687;
	background-color: #212121;
	width: 30px;
	height: 10px;
	margin-top: 10px
	
}

#emulator_home_btn{
	border-radius:5px;
	border: 3px solid #647687;
	background-color: #212121;
	width: 30px;
	height: 30px;
	margin-top: 5px
	
}

#app_background{
	border-radius:2px;
	border: 1px solid #000;
	background-color: #212121;
	width: 270px;
	height: 370px;
	margin-top: 10px
	
}
#app_actionbar{
	border-radius:1px;
	border: 0px solid #000;
	background-color: #919191;
	width: 265px;
	height: 30px;
	margin-top: 2px
	
}



#app_body{
	border-radius:0px;
	border: 0px solid #647687;
	background-color: #FF0000;
	width: 265px;
	height: 330px;
	margin-top: 2px
}


#notice_action_bar{
	position: absolute;
	top: 200px
}
#notice_body{
	position: absolute;
	top: 270px
}
#notice_logo{
	position: absolute;
	top: 340px
}
#menu_container{
	height:100px;
	width:218px;
	top:150px;
	background:#fff;
	position:absolute;
	z-index:0;
	border: 1px solid #999;
	box-shadow: 0px 0px 5px #888888;
	display:none;
}
/*emulator end*/

