#navcontainer{
margin-top: 0px;
background-color: #CCC;
height:30px;
padding: 4px;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;

}

#navcontainer ul li { 
display: inline; 
}

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #ACD3FF;
background-color: #787878;

margin-top: 1px;
border-radius:2px;
border: 0px solid #647687;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}
