@import url(//fonts.googleapis.com/css?family=Oswald:300);



body {
  
  font-family: 'Oswald', serif;
}

/* uiButton
------------------------ */



.uiButton:link, .uiButton:visited {
	 text-align:center;
	position: fixed;
	top:10px;
	right:10px;
	font-weight:bolder; 
    width: 10em;
	height: 3.2em;
	border-radius: 3px;
	background: #353535;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.05), 0 0 1px rgba(255,255,255,0.1), inset 0 1px 2px rgba(0,0,0,0.2);
	
}
.uiButton:link:before, .uiButton:visited:before {
	position: absolute;
	font-weight:bolder;
	font-style:italic;
	top: 2px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	padding: .5em 0 0;
	border-radius: 2px;
	background: #ed6802;
	background: -moz-linear-gradient(top, #232329, #16161a);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #232329), color-stop(100%,#16161a));/* Android 2.1~3.0 */
	background: -webkit-linear-gradient(top, #232329, #16161a);
	background: -o-linear-gradient(top, #232329, #16161a);
	background: linear-gradient(to bottom, #232329, #16161a);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.05), inset 0 0 1px rgba(255,255,255,0.1), 0 4px 6px rgba(0,0,0,0.85), 0 1px 2px rgba(0,0,0,0.9);
	color: #ccc;
	font-weight: bolder;
	font-size: 132%;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	line-height: 1.2;
	content: "LOGIN";
	z-index: 0;
}
.uiButton:hover:before {
	background: #ed6802;
	font-weight:bolder;
	background: -moz-linear-gradient(top, #2b2b33, #1d1d21);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b33), color-stop(100%,#1d1d21));/* Android 2.1~3.0 */
	background: -webkit-linear-gradient(top, #2b2b33, #1d1d21);
	background: -o-linear-gradient(top, #2b2b33, #1d1d21);
	background: linear-gradient(to bottom, #2b2b33, #1d1d21);
	color: #f5f5f5;
}
.uiButton:active:before {
	font-weight:bolder;
	border-top: 1px solid #030303;
	background: #ed6802;
	background: -moz-linear-gradient(top, #101012, #111114);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #101012), color-stop(100%,#111114));/* Android 2.1~3.0 */
	background: -webkit-linear-gradient(top, #101012, #111114);
	background: -o-linear-gradient(top, #101012, #111114);
	background: linear-gradient(to bottom, #101012, #111114);
	color: #333;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.6), 0 1px 0 rgba(50,50,50,0.3);
}
