* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	html {
		-ms-touch-action: none;
	}

	body,ul,li {
		padding: 0;
		margin: 0;
		border: 0;
	}

	body {
		font-size: 12px;
		font-family: ubuntu, helvetica, arial;
		overflow: hidden; /* this is important to prevent the whole page to bounce */
	}

	#wrapper {
		position: absolute;
		z-index: 1;
		top: 0px;
		bottom: 0px;
		left: 0;
		width: 100%;
		background: #ccc;
		overflow: hidden;
	}

	#scroller {
		position: absolute;
		z-index: 1;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		width: 100%;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
	}

	#scroller ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		text-align: left;
	}

	#scroller li {
		padding: 5px 10px;
		height: 400px;
		line-height: 40px;
		border-bottom: 0px solid #ccc;
		border-top: 0px solid #fff;
		background-color: #EFEFEF;
		font-size: 14px;
	}

	#cotent_tab {
		padding-left :10px;
		padding-right :10px;
		height: 100%;
		width: 100%;
		border: 1px solid #FCFCFC;
		background-color: #FFFFFF;
		box-shadow: 1px 1px 1px #888888;
	}

	#cotent_tab_headder_title{
		float:left;
		background-color: #FFFFFF;
		height : 35px;
		width:200px;
		font-size: 15px;
		font-family: ubuntu, helvetica, arial;
		font-weight: bold;
	}

	#cotent_tab_headder_date{
		float:right;
		background-color: #FFFFFF;
		height : 35px;
		width:70px;
		font-size: 13px;
		font-family: ubuntu, helvetica, arial;
		color : #CCCCCC
	}
	
	#cotent_tab_headder_date{
		float:right;
		background-color: #FFFFFF;
		height : 35px;
		width:70px;
		font-size: 13px;
		font-family: ubuntu, helvetica, arial;
		color : #CCCCCC
	}
	
	#cotent_tab_headder_p{
		background-color: #FFFFFF;
		height : 50px;
		font-size: 13px;
		font-family: ubuntu, helvetica, arial;
		color : #000000;
		line-height:100%;
	}
	
	#cotent_tab_image{
		height:250px;
		width:100%
	}
	
	#progress {
		-webkit-border-radius: 10px;
		background-color: rgba(0,0,0,.7);
		color: white;
		font-size: 18px;
		font-weight: bold;
		height: 80px;
		left: 60px;
		line-height: 80px;
		margin: 0 auto;
		position: absolute;
		text-align: center;
		top: 120px;
		width: 200px;
	}